@model Parking_Zone.ViewModels.Reservation.ReservationVM

<div class="row">
    <div class="col-md-4">
        <form asp-action="FreeSlots">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" type="datetime-local" value="2024-01-01T19:30" min="2024-01-01T00:00" max="2100-06-14T00:00" />
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Duration" class="control-label"></label>
                <input asp-for="Duration" type="number" class="form-control"/>
                <span asp-validation-for="Duration" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Choose Parking Zone</label>
                <select asp-for="ParkingZoneId" class="form-select" asp-items="@Model.ParkingZones"><option label=" "></option></select>
            </div>

            <div class="form-group">
                <input type="submit" value="Select" class="btn btn-outline-primary"/>
            </div>
        </form>
    </div>
</div>

@if (ViewBag.HasAnySlot != false)
{
    <h1>All available slots for booking</h1>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    Number
                </th>
                <th>
                    Category
                </th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model.ParkingSlots)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Number)
                    </td>
                    <td>
                        @Html.DisplayFor(ApplicationModelConventionExtensions => item.Category)
                    </td>
                    <td>
                        <a asp-controller="Reservation" asp-action="Select" asp-route-slotId="@item.Id" asp-route-startTime="@Model.StartTime" asp-route-duration="@Model.Duration">Select</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}