@model IEnumerable<ReservationListItemVM>

@if (Model.Count() == 0)
{
    <h1>You havent made a reservation yet</h1>
}
else
{
    <h1 class="text-center">My reservations history</h1>
    <br />
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.StartTime)</th>
                <th>@Html.DisplayNameFor(model => model.Duration)</th>
                <th>Parking Zone</th>
                <th>@Html.DisplayNameFor(model => model.SlotNumber)</th>
                <th>@Html.DisplayNameFor(model => model.VehicleNumber)</th>
                <th>Prolong</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr class=@((item.IsActive) ? "table-success" : "")>
                    <td>@Html.DisplayFor(modelItem => item.StartTime)</td>
                    <td>@Html.DisplayFor(modelItem => item.Duration)</td>
                    <td>@Html.DisplayFor(modelItem => item.ZoneName), @Html.DisplayFor(modelItem => item.ZoneAddress)</td>
                    <td>@Html.DisplayFor(modelItem => item.SlotNumber)</td>
                    <td>@Html.DisplayFor(modelItem => item.VehicleNumber)</td>
                    <td>
                        @if (item.IsActive){<a class="btn btn-primary" asp-controller="Reservation" asp-action="Prolong" asp-route-reservationId="@item.Id">Prolong</a>}
                    </td>
                </tr>
            }
        </tbody>
    </table>
}