@using Parking_Zone.Enums
@model IEnumerable<Parking_Zone.ViewModels.ParkingZone.ParkingZoneListItemVM>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-family: 'Quicksand', sans-serif; font-weight: bold;">Parking Zones</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" style="font-family: 'Quicksand', sans-serif;">Create New</a>
</p>
@foreach (var item in Model)
{
    <div class="card text-center">
        <div class="card-header" style="background-color:azure; font-family: 'Quicksand', sans-serif; font-weight: bold;">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">@item.Name, @item.Address</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="nav-link" style="color:black; background-color:transparent;" onmouseover="this.style.backgroundColor='rgb(255, 215, 0)'" onmouseout="this.style.backgroundColor='transparent'">Edit <i class="bi bi-pencil-fill"></i></a>
                </li>
                <li class="nav-item">
                    <a asp-action="Details" asp-route-id="@item.Id" class="nav-link" style="color:black; background-color:transparent;" onmouseover="this.style.backgroundColor='lightgreen'" onmouseout="this.style.backgroundColor='transparent'">Details <i class="bi bi-info"></i></a>
                </li>
                <li class="nav-item">
                    <a asp-action="Delete" asp-route-id="@item.Id" class="nav-link" style="color:black; background-color:transparent;" onmouseover="this.style.backgroundColor='salmon'" onmouseout="this.style.backgroundColor='transparent'">Delete <i class="bi bi-trash-fill"></i></a>
                </li>
            </ul>
        </div>
        <div class="d-flex">
            <div class="card-body text-xl-start">
                <h5 class="card-title" style="color: #333; font-family: 'Quicksand', sans-serif; font-weight: bold;">Number of Total Slots: @item.NumberOfAllSlots</h5>
                <p class="card-text" style="color: #666; font-family: 'Arial', sans-serif;">Slots in Use: @item.SlotsInUse</p>
                <p class="card-text" style="color: #666; font-family: 'Arial', sans-serif;">Free Slots: @item.FreeSlots</p>
                <a asp-controller="ParkingSlot" asp-action="Index" asp-route-zoneId="@item.Id" class="btn btn-primary" style="font-family: 'Quicksand'">Parking Slots <i class="bi bi-list"></i></a>
                <a asp-controller="ParkingZone" asp-action="CurrentCars" asp-route-zoneId="@item.Id" class="btn btn-primary" style="font-family: 'Quicksand'; background-color: #8A2BE2; border-color: #8A2BE2; color: #fff;">Current Cars <i class="bi bi-car-front-fill"></i></a>
            </div>

            <div>
                <h5 style="margin-right: 400px;">Finance summary</h5>
                <div class="d-flex">
                    <h5 style="margin-right: 10px;">Period For</h5>
                    <select asp-items="Html.GetEnumSelectList<PeriodsEnum>()" class="form-select period-select" data-container-id="container-@item.Id" aria-label="Default select example" style="width: 165px;">
                        <option selected disabled>Select</option>
                    </select>
                </div>
                <div id="container-@item.Id" class="sentencesContainer" style="margin-right: 320px;"></div>
            </div>
        </div>
    </div>
    <br />
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
    $(document).ready(function () {
        $('.period-select').change(function () {
            var selectedPeriod = $(this).val();
            var containerId = $(this).data('container-id');
            var sentencesContainer = $('#' + containerId);
            var zoneId = containerId.slice(10);

            $.ajax({
                type: 'GET',
                url: '/Admin/ParkingZone/FinanceSummary',
                data: { period: selectedPeriod, zoneId: zoneId },
                success: function (response) {
                    sentencesContainer.empty();
                    sentencesContainer.append('<p>Business hours reserved: ' + response.businessHours + ' hours</p>');
                    sentencesContainer.append('<p>Standard hours reserved: ' + response.standardHours + ' hours</p>');
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText)
                }
            });
        });
    });
</script>

<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">@*this font for the future for main page to write Parking Zone in this font*@
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">