@model IEnumerable<Parking_Zone.ViewModels.ParkingZone.ParkingZoneListItemVM>

@{
    ViewData["Title"] = "Index";
}

<h1 style="font-family: 'Quicksand', sans-serif; font-weight: bold;">Parking Zones</h1>

<p>
    <a asp-action="Create" class="btn btn-primary" style="font-family: 'Quicksand', sans-serif;">Create New</a>
</p>
@foreach (var item in Model)
{
    <div class="card text-center">
        <div class="card-header" style="background-color:azure; font-family: 'Quicksand', sans-serif; font-weight: bold;">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" href="#">@item.Name, @item.Address</a>
                </li>
                <li class="nav-item">
                    <a asp-action="Edit" asp-route-id="@item.Id" class="nav-link" style="color:black; background-color:transparent;" onmouseover="this.style.backgroundColor='rgb(255, 215, 0)'" onmouseout="this.style.backgroundColor='transparent'">Edit <i class="bi bi-pencil-fill"></i></a>
                </li>
                <li class="nav-item">
                    <a asp-action="Details" asp-route-id="@item.Id" class="nav-link" style="color:black; background-color:transparent;" onmouseover="this.style.backgroundColor='lightgreen'" onmouseout="this.style.backgroundColor='transparent'">Details <i class="bi bi-info"></i></a>
                </li>
                <li class="nav-item">
                    <a asp-action="Delete" asp-route-id="@item.Id" class="nav-link" style="color:black; background-color:transparent;" onmouseover="this.style.backgroundColor='salmon'" onmouseout="this.style.backgroundColor='transparent'">Delete <i class="bi bi-trash-fill"></i></a>
                </li>
            </ul>
        </div>
        <div class="card-body text-xl-start">
            <h5 class="card-title" style="color: #333; font-family: 'Quicksand', sans-serif; font-weight: bold;">Number of Total Slots: @item.NumberOfAllSlots</h5>
            <p class="card-text" style="color: #666; font-family: 'Arial', sans-serif;">Slots in Use: @item.SlotsInUse</p>
            <p class="card-text" style="color: #666; font-family: 'Arial', sans-serif;">Free Slots: @item.FreeSlots</p>
            <a asp-controller="ParkingSlot" asp-action="Index" asp-route-zoneId="@item.Id" class="btn btn-primary" style="font-family: 'Quicksand'">Parking Slots <i class="bi bi-list"></i></a>
            <a asp-controller="ParkingZone" asp-action="CurrentCars" asp-route-zoneId="@item.Id" class="btn btn-primary" style="font-family: 'Quicksand'; background-color: #8A2BE2; border-color: #8A2BE2; color: #fff;">Current Cars <i class="bi bi-car-front-fill"></i></a>
        </div>
    </div>
    <br />
}
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap" rel="stylesheet">@*this font for the future for main page to write Parking Zone in this font*@
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">